/* font-face rules */

@font-face {
	font-family: 'Open Sans Variable';
	src: url('../fonts/OpenSans-VariableFont.woff2') format('woff2'),
		url('../fonts/OpenSans-VariableFont.woff') format('woff');
	font-weight: 100 900;
	font-stretch: 75% 100%;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans Variable';
	src: url('../fonts/OpenSans-Italic-VariableFont.woff2') format('woff2'),
		url('../fonts/OpenSans-Italic-VariableFont.woff') format('woff');
	font-weight: 100 900;
	font-stretch: 75% 100%;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Variable';
	src: url('../fonts/Roboto-VariableFont.woff2') format('woff2'),
		url('../fonts/Roboto-VariableFont.woff') format('woff');
	font-weight: 100 900;
	font-stretch: 75% 100%;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Variable';
	src: url('../fonts/Roboto-Italic-VariableFont.woff2') format('woff2'),
		url('../fonts/Roboto-Italic-VariableFont.woff') format('woff');
	font-weight: 100 900;
	font-stretch: 75% 100%;
	font-style: italic;
	font-display: swap;
}

/* Universal Styles */

html {
	font-family: 'Open Sans Variable', sans-serif;
	font-size: 16px;
}

body {
	background-color: #17141e;
    line-height: 1.5;
}

header,
footer {
	background-color: #1b3677;
}

main {
	margin-top: 6.875rem;
}

section {
    box-sizing: border-box;
    margin: 2.5rem auto;
	padding: 2rem 2rem;
	width: 85%;
	max-width: calc(80rem * 0.85);
	background-color: #101f47;
	border-radius: 0.5rem;
}

a {
	color: #f5ec00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Variable', sans-serif;
	line-height: 1.2;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
}

h3 {
	font-size: 1.5rem;
	font-weight: 300;
}

p {
	color: #caf0fe;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 2rem;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.container {
	box-sizing: border-box;
}

header .container,
footer .container,
#about-me {
	max-width: calc(80rem * 0.9);
}

header .container,
footer .container {
	padding: 0 2rem;
}

.button {
	line-height: 1;
	text-align: center;
	border-radius: 0.2rem;
}

.lang {
	color: #fff;
	border: 1px solid #fff;
}

.bold,
.title {
	color: #00c7fc;
}

/* Header */

header {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 4.3125rem;
	border-bottom: 1px solid gray;
}

header > .flex {
	justify-content: space-between;
	align-items: center;
}

header .container {
	margin: 0 auto;
	padding: 0 2rem;
	height: 100%;
}

header h1 {
	margin-right: 2rem;
	flex: 0 0 auto;
}

header nav {
	flex-basis: 18.75rem;
	min-width: 15rem;
	font-size: 1.125rem;
}

header nav .flex {
	justify-content: space-between;
}

header a {
	color: #caf0fe;
}

.nav-link:hover {
	color: #fff066;
}

header .button.lang {
	padding: 0rem 0.3rem;
	font-size: smaller;
}

@media only screen and (max-width: 768px) {
	header h1 {
		flex-shrink: 1;
		font-size: 1.5rem;
	}

	header nav {
		flex-basis: 17.5rem;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 480px) {

	header {
		height: 5.8125rem;
	}

	header > .flex {
		flex-direction: column;
		justify-content: space-evenly;
	}

	header .container {
		max-width: none;
	}

	header h1 {
		margin-right: 0;
		font-size: 1rem;
	}

	header nav {
		flex-basis: auto;
	}

}

/* About Me Section */

#about-me {
	width: 90%;
	border-radius: 2rem;
}

#about-me .flex {
    justify-content: space-between;
}

#about-me .title {
    margin-bottom: 1rem;
}

#about-me article {
    flex-shrink: 2;
    min-width: 13.75rem;
    max-width: 40.625rem;
    text-align: justify;
}

#about-me figure {
    margin-left: 3.125rem;
    min-width: 12.5rem;
    max-width: 21.875rem;
    min-height: 12.5rem;
    max-height: 21.875rem;
    overflow: hidden;
}

#about-me figure img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {

	#about-me .title {
		text-align: center;
	}

	#about-me article {
		text-align-last: center;
	}

	#about-me figure {
		display: none;
	}

}

/* Certifications & Skills */

#certs-skills .title {
	margin-bottom: 3rem;
	text-align: center;
}

#certs-skills .flex {
	flex-wrap: wrap;
}

/* Certifications */

#certifications {
	justify-content: space-between;
	gap: 2.5rem;
	margin: 0 auto;
}

#certifications .button {
	padding: 1rem;
	background-color: #193371;
}

/* Skills */

#skills {
	grid-template-columns: repeat(9, 4rem);
	justify-content: space-between;
	justify-items: center;
	column-gap: 1rem;
}

#skills .image-container {
	padding: 0.5rem;
	width: 3rem;
	height: 3rem;
	background-color: #FF9300;
	border-radius: 0.2rem;
}

#skills .icon {
	width: 3rem;
}

/* Certifications & Skills Devider */

.devider {
	margin: 2rem auto;
	width: 85%;
	height: 3px;
	border-radius: 5px;
	background-color: #00c7fc;
}

@media only screen and (max-width: 1200px) {

	/* Certifications */

	#certifications {
		justify-content: space-evenly;
		max-width: 46.875rem;
	}

}

@media only screen and (max-width: 900px) {

	/* Certifications */

	#certifications {
		max-width: 32rem;
	}

	/* Skills */

	#skills {
		grid-template-columns: repeat(3, 4rem);
		justify-content: space-around;
		gap: 1rem;
	}

}

@media only screen and (max-width: 768px) {

	/* Certifications */

	#certifications {
		flex-direction: column;
		align-content: space-around;
		gap: 1.5rem 1rem;
		max-height: 30rem;
	}

	#certifications .button {
		box-sizing: border-box;
		width: 10rem;
		line-height: 1.5;
	}

}

@media only screen and (max-width: 480px) {

	/* Certifications */

	#certifications {
		gap: 1rem;
		max-height: none;
	}

	#certifications .button {
		width: auto;
		line-height: 1;
	}

}

@media only screen and (max-width: 340px) {

	/* Skills */

	#skills {
		grid-template-columns: repeat(2, 4rem);
	}

	#skills figure:last-child {
		grid-column: 1/3;
	}

}

/* Footer */

footer {
	width: 100%;
	height: 10rem;
	line-height: 1;
}

footer > .container {
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 0 2rem;
	height: 100%;
}

#footer-first-container {
	justify-content: space-between;
}

#footer-second-container {
	column-gap: 1rem;
}

footer .button.lang {
	padding: 0.15rem 0.3rem 0.3rem;
	color: #fff;
	border: 1px solid #fff;
}